@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

@media print {
  button {
    display: none; /* 버튼 숨김 */
  }

  body {
    font-size: 12px; /* 프린트용 폰트 크기 */
  }

  /* 필요한 경우 다른 스타일 추가 */
}
