@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff; /* 항상 화이트 유지 */
  --foreground: #171717;
}

html {
  font-size: 16px; /* 기본 폰트 크기 고정 */
  -webkit-text-size-adjust: 100%; /* iOS에서 폰트 크기 자동 조절 방지 */
  text-size-adjust: 100%;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: "NanumSquareNeo", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, sans-serif;
  font-size: 14px; /* 본문 기본 크기 */
  line-height: 1.5;
}

@media print {
  button {
    display: none; /* 버튼 숨김 */
  }

  body {
    font-size: 12px; /* 프린트용 폰트 크기 */
  }

  /* 필요한 경우 다른 스타일 추가 */
}

@font-face {
  font-family: "NanumSquareNeo";
  src: url("/fonts/NanumSquareNeoTTF-aLt.woff2") format("woff2"),
    url("/fonts/NanumSquareNeoTTF-aLt.woff") format("woff");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "NanumSquareNeo";
  src: url("/fonts/NanumSquareNeoTTF-bRg.woff2") format("woff2"),
    url("/fonts/NanumSquareNeoTTF-bRg.woff") format("woff");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "NanumSquareNeo";
  src: url("/fonts/NanumSquareNeoTTF-cBd.woff2") format("woff2"),
    url("/fonts/NanumSquareNeoTTF-cBd.woff") format("woff");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "NanumSquareNeo";
  src: url("/fonts/NanumSquareNeoTTF-eHv.woff2") format("woff2"),
    url("/fonts/NanumSquareNeoTTF-eHv.woff") format("woff");
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}
